<footer>
	<div class=" bg-blue-50">
		<div class="container mx-auto">
			<div class="flex justify-between py-6">
				<div class="flex-1 text-montserrat font-bold">Bagikan jika Anda menyukai halaman ini.</div>
				<div class="flex-1">
					<div class="flex space-x-2">
                        <div class="w-6 h-6 text-blue-700">
                            <svg version="1.1" x="0px" y="0px" viewbox="0 0 315 315" fill="currentColor">
                                <g id="XMLID_834_">
                                    <path id="XMLID_835_" d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
                                        c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
                                        V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
                                        C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
                                        c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z"/>
                               </g>
                            </svg>
                        </div>
						<div>80k</div>
                        <div class="w-6 h-6 text-blue-500">
                            <svg version="1.1" x="0px" y="0px" viewbox="0 0 315 315" fill="currentColor">
                                <g id="XMLID_826_">
                                    <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73
                                        c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783
                                        c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598
                                        C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467
                                        c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977
                                        c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889
                                        c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597
                                        c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961
                                        c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895
                                        c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367
                                        c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998
                                        C307.394,57.037,305.009,56.486,302.973,57.388z"/>
                                </g>
                            </svg>
                        </div>
						<div>450</div>
                        <div class="w-6 h-6 text-red-500">
                            <svg version="1.1" x="0px" y="0px" viewbox="0 0 315 315" fill="currentColor">
                                <g id="XMLID_510_">
                                    <path id="XMLID_511_" d="M307.5,136.892h-19.791V117.1c0-4.143-3.357-7.5-7.5-7.5h-26.717c-4.143,0-7.5,3.357-7.5,7.5v19.792
                                                h-19.791c-4.143,0-7.5,3.357-7.5,7.5v26.717c0,4.143,3.357,7.5,7.5,7.5h19.791v19.792c0,4.142,3.357,7.5,7.5,7.5h26.717
                                                c4.143,0,7.5-3.358,7.5-7.5v-19.792H307.5c4.143,0,7.5-3.357,7.5-7.5v-26.717C315,140.249,311.643,136.892,307.5,136.892z"/>
                                    <path id="XMLID_512_" d="M101.906,104.16c9.088,0,17.823,2.45,25.274,7.087l8.513,5.825c2.967,2.03,6.958,1.671,9.514-0.861
                                            l24.828-24.596c1.589-1.574,2.392-3.774,2.191-6.001c-0.2-2.227-1.384-4.248-3.228-5.513l-14.43-9.896
                                            c-0.294-0.201-0.603-0.382-0.922-0.539l-13.979-6.902c-0.185-0.092-0.374-0.176-0.566-0.252
                                            c-12.042-4.754-24.729-7.165-37.708-7.165c-26.757,0-51.996,10.27-71.068,28.915c-19.367,18.934-30.137,44.681-30.323,72.499
                                            c-0.187,27.824,10.239,53.72,29.355,72.916c18.968,19.049,45.879,29.975,73.834,29.975c27.658,0,53.608-10.739,71.195-29.463
                                            c13.931-14.831,22.48-34.641,24.727-57.288c0.021-0.215,0.034-0.43,0.036-0.645l0.26-20.345c0.006-0.421-0.024-0.841-0.09-1.257
                                            l-1.09-6.953c-0.571-3.649-3.716-6.339-7.409-6.339h-86.672c-4.143,0-7.5,3.358-7.5,7.5v29.982c0,4.142,3.357,7.5,7.5,7.5h44.186
                                            c-2.025,4.439-5.216,9.12-9.251,13.482c-8.801,9.518-21.926,14.977-36.01,14.977c-14.383,0-28.157-5.636-37.79-15.462
                                            c-20.052-20.448-19.822-56.077,0.489-76.245C75.334,109.605,88.505,104.16,101.906,104.16z"/>
                                </g>
                            </svg>
                        </div>
						<div>1900</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-blue-400 text-white">
		<div class="container mx-auto">
			<div class="flex justify-between items-center py-6">
				<div class="text-montserrat text-3xl">Perlu
					<span class="text-montserrat-black">BANTUAN?</span>
					Hubungi Kami :
					<span class="text-montserrat-black">0274-5305505</span>
				</div>
				<div class="border-l border-blue-300 px-16 w-96">
					<div class="flex justify-center items-center border-2 border-white rounded-full px-4 py-2">
						<div class="w-6 h-6">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor">
								<path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z"/>
								<path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z"/>
							</svg>
						</div>
						<div class="w-2"></div>
						<div>Live Chat</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-gray pb-8">
		<div class="container mx-auto">
			<div class="flex flex-wrap justify-center leading-6">
				<div class="flex justify-between w-full xl:w-1/2">
					<div class="flex-1 pt-16 ml-8 w-1/2">
						<p class="font-bold text-gray-400 pb-8">HUBUNGI KAMI</p>
						<ul>
							<li>
								0274-5305505<br/>
								Senin - Minggu<br/>
								24 Jam Nonstop
							</li>
							<li>&nbsp;</li>
							<li>
								Jl. Selokan Mataram Monjali<br/>
								Karangjati MT 1/304<br/>
								Sinduadi, Mlati, Sleman<br/>
								Yogyakarta 55284
							</li>
						</ul>
					</div>
					<div class="flex-1 pt-16 ml-8 w-1/2">
						<p class="font-bold text-gray-400 pb-8">LAYANAN</p>
						<ul>
							<li><a>Domain</a></li>
							<li><a>Shared Hosting</a></li>
							<li><a>Cloud VPS Hosting</a></li>
							<li><a>Managed VPS Hosting</a></li>
							<li><a>Web Builder</a></li>
							<li><a>Keamanan SSL/ HTTPS</a></li>
							<li><a>Jasa Pembuatan Website</a></li>
							<li><a>Program Affiliasi</a></li>
						</ul>
					</div>
				</div>
				<div class="flex justify-between w-full xl:w-1/2">
					<div class="flex-1 pt-16 ml-8 w-1/2">
						<p class="font-bold text-gray-400 pb-8">SERVICE HOSTING</p>
						<ul>
							<li><a>Hosting Murah</a></li>
							<li><a>Hosting Indonesia</a></li>
							<li><a>Hosting Singapura SG</a></li>
							<li><a>Hosting PHP</a></li>
							<li><a>Hosting Wordpress</a></li>
							<li><a>Hosting Laravel</a></li>
						</ul>
					</div>
					<div class="flex-1 pt-16 ml-8 w-1/2">
						<p class="font-bold text-gray-400 pb-8">TUTORIAL</p>
						<ul>
							<li><a>Knowledgebase</a></li>
							<li><a>Blog</a></li>
							<li><a>Cara Pembayaran</a></li>
						</ul>
					</div>
                </div>
			</div>
			<div class="flex flex-wrap justify-center leading-6">
				<div class="flex justify-between w-full xl:w-1/2">
					<div class="pt-16 ml-8 w-1/2">
						<p class="font-bold text-gray-400 pb-8">TENTANG KAMI</p>
						<ul>
							<p>
								<a>Tim Niagahoster</a>
							</p>
							<p>
								<a>Karir</a>
							</p>
							<p>
								<a>Events</a>
							</p>
							<p>
								<a>Penawaran &amp; Promo Spesial</a>
							</p>
							<p>
								<a>Kontak Kami</a>
							</p>
						</ul>
					</div>
					<div class="pt-16 ml-8 w-1/2">
						<p class="font-bold text-gray-400 pb-8">KENAPA PILIH NIAGAHOSTER?</p>
						<ul>
							<li><a>Support Terbaik</a></li>
							<li><a>Garansi Harga Termurah</a></li>
							<li><a>Domain Gratis Selamanya</a></li>
							<li><a>Datacenter Hosting Terbaik</a></li>
							<li><a>Review Pelanggan</a></li>
						</ul>
					</div>
				</div>
				<div class="flex justify-between w-full xl:w-1/2">
					<div class="pt-16 ml-8 w-1/2">
						<p class="font-bold text-gray-400 pb-8">NEWSLETTER</p>
						<div class="flex flex-between w-max bg-white border-2 border-white rounded-full pl-2 mb-6">
							<form>
								<input class="pl-2 text-black w-28 focus:outline-none" type="email" placeholder="Email" required/>
								<button class="button-blue">Berlangganan</button>
							</form>
						</div>
						<div class="text-gray-500 whitespace-normal">
							Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.
						</div>
					</div>
					<div class="pt-16 ml-8 flex items-center space-x-4 w-1/2">
                        <div class="border-2 border-gray-300 rounded-full px-4 py-4">
                            <div class="w-6 h-6">
                                <svg version="1.1" x="0px" y="0px" viewbox="0 0 315 315" fill="currentColor">
                                    <g id="XMLID_834_">
                                        <path id="XMLID_835_" d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
                                            c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
                                            V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
                                            C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
                                            c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z"/>
                                   </g>
                                </svg>
                            </div>
                        </div>
                        <div class="border-2 border-gray-300 rounded-full px-4 py-4">
                            <div class="w-6 h-6">
                                <svg version="1.1" x="0px" y="0px" viewbox="0 0 315 315" fill="currentColor">
                                    <g id="XMLID_826_">
                                        <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73
                                            c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783
                                            c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598
                                            C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467
                                            c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977
                                            c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889
                                            c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597
                                            c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961
                                            c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895
                                            c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367
                                            c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998
                                            C307.394,57.037,305.009,56.486,302.973,57.388z"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="border-2 border-gray-300 rounded-full px-4 py-4">
                            <div class="w-6 h-6">
                                <svg version="1.1" x="0px" y="0px" viewbox="0 0 315 315" fill="currentColor">
                                    <g id="XMLID_510_">
                                        <path id="XMLID_511_" d="M307.5,136.892h-19.791V117.1c0-4.143-3.357-7.5-7.5-7.5h-26.717c-4.143,0-7.5,3.357-7.5,7.5v19.792
                                                    h-19.791c-4.143,0-7.5,3.357-7.5,7.5v26.717c0,4.143,3.357,7.5,7.5,7.5h19.791v19.792c0,4.142,3.357,7.5,7.5,7.5h26.717
                                                    c4.143,0,7.5-3.358,7.5-7.5v-19.792H307.5c4.143,0,7.5-3.357,7.5-7.5v-26.717C315,140.249,311.643,136.892,307.5,136.892z"/>
                                        <path id="XMLID_512_" d="M101.906,104.16c9.088,0,17.823,2.45,25.274,7.087l8.513,5.825c2.967,2.03,6.958,1.671,9.514-0.861
                                                l24.828-24.596c1.589-1.574,2.392-3.774,2.191-6.001c-0.2-2.227-1.384-4.248-3.228-5.513l-14.43-9.896
                                                c-0.294-0.201-0.603-0.382-0.922-0.539l-13.979-6.902c-0.185-0.092-0.374-0.176-0.566-0.252
                                                c-12.042-4.754-24.729-7.165-37.708-7.165c-26.757,0-51.996,10.27-71.068,28.915c-19.367,18.934-30.137,44.681-30.323,72.499
                                                c-0.187,27.824,10.239,53.72,29.355,72.916c18.968,19.049,45.879,29.975,73.834,29.975c27.658,0,53.608-10.739,71.195-29.463
                                                c13.931-14.831,22.48-34.641,24.727-57.288c0.021-0.215,0.034-0.43,0.036-0.645l0.26-20.345c0.006-0.421-0.024-0.841-0.09-1.257
                                                l-1.09-6.953c-0.571-3.649-3.716-6.339-7.409-6.339h-86.672c-4.143,0-7.5,3.358-7.5,7.5v29.982c0,4.142,3.357,7.5,7.5,7.5h44.186
                                                c-2.025,4.439-5.216,9.12-9.251,13.482c-8.801,9.518-21.926,14.977-36.01,14.977c-14.383,0-28.157-5.636-37.79-15.462
                                                c-20.052-20.448-19.822-56.077,0.489-76.245C75.334,109.605,88.505,104.16,101.906,104.16z"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
					</div>
				</div>
				<div class="pt-16 ml-8 w-full">
					<p class="font-bold text-gray-400 pb-8">PEMBAYARAN</p>
					<ul class="flex flex-wrap flex-between mb-6">
						<li class="mr-2"><img src="/assets/images/icon-bca.png" alt="ВСА"/></li>
						<li class="mr-2"><img src="/assets/images/icon-mandiri.png" alt="mandiri clickpay"/></li>
						<li class="mr-2"><img src="/assets/images/icon-bni46.png" alt="BNI46"/></li>
						<li class="mr-2"><img src="/assets/images/icon-visa.png" alt="VISA"/></li>
						<li class="mr-2"><img src="/assets/images/icon-mastercard.png" alt="Mastercard"/></li>
						<li class="mr-2"><img src="/assets/images/icon-atm-bersama.png" alt="ATM BERSAMA"/></li>
						<li class="mr-2"><img src="/assets/images/icon-permata.png" alt="PermataBank"/></li>
						<li class="mr-2"><img src="/assets/images/icon-prima.png" alt="PRIMA"/></li>
						<li class="mr-2"><img src="/assets/images/icon-alto.png" alt="ALTO"/></li>
					</ul>
					<div class="text-gray-500">Aktivasi instan dengan e-Payment. Hosting dan domain langsung aktif!</div>
				</div>
				<div class="flex flex-col xl:flex-row justify-between text-xs pt-16 w-full">
					<div class="mb-4">
						<p>Copyright ©2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta</p>
						<p>Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology</p>
					</div>
					<div>
						<ul class="flex justify-start">
							<li class="pr-2">Syarat dan ketentuan</li>
							<li class="border-l border-white pl-2">Kebijakan Privasi</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></footer>
